

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.scoreboard{
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: #f9f1e8;
}

.score-img{
    max-height: 200px;
    width: auto;
}

.score-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-side-img{
    max-height: 100px;
    width: auto;
}

.score{
    background-color: #873e23;
    max-height: 100px;
    aspect-ratio: 1/2;
    padding: 8px;
    font-size: 60px;
    text-align: center;
    border-radius: 16px;
}


.content{
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    background-color: #f9f1e8;
    padding: 8px;

}

#buttons{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin: 36px;
    margin-top: 22px;
}

h1{
    color: #5f1e1b;
}

.play-img{
    max-height: 100px;
    width: auto;
    border-radius: 50%;
}

.button{
    border-radius: 50%;
}

#results{
    text-align: center;
}

.reset{
    border: 0px;
    border-radius: 50%;
}

.reset-img{
    max-height: 150px;
    width: auto;
}